# Datbase
db.sqlite3
venv
__pycache__/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lock file (optional – keep if you want reproducible builds)
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Editor/OS files
.DS_Store
Thumbs.db
fix_modules.sh